
html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #555555;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	/*font-family: Menlo, Monaco, Consolas, "Courier New", monospace;*/
}

header {
	/*background-color: #AAAAAA;*/
}
/*kolory
#3914AF - ikony i podkreślenia
#04396C - active navbar i .tlo
#5DE100 - buttons zielony
#E7003E	- buttons rózowy
#020323 - backgroung flota
*/

.btn,
.btn-default, 
.btn-default:visited,
.btn-default:active,
.btn-default:focus {
	border-radius: 30px;
	background-color: #E7003E;	/*#5DE100;*/
	color: #FFFFFF;			/*#5DE100;*/
	border-color: #E7003E;
	padding: 8px 15px;
	min-width: 120px; 
}

.btn:hover {
	background-color: #960028;	/*#5DE100;*/
	color: #FFFFFF;
	border-color: #960028;
}

.btn-default:hover {
	background-color: #960028;	/*#5DE100;*/
	color: #FFFFFF;
	border-color: #960028;
}

.text-center {
	text-align: center;
}

/*					Menu						   */
/*=================================================*/
#menu > nav {
	font-size: 1.2em;
	background-color: #222222;
	border: none;
	margin: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: white;
	border-bottom: #E7003E 1px solid;
}

.navbar-header, .navbar-collapse > ul > li {
	//padding-bottom: 45px;
	padding-top: 4px; 
	text-align: center;
}

#menu > nav a {
	border-radius: 0;
	color: rgba(255, 255, 255, 0.7);
	border-bottom: transparent 1px solid;
	margin: 20px 10px;
}

#menu .navbar-nav a:hover {
	color: white;
	background-color: rgba(0,0,0, 0);
	border-bottom: #E7003E 1px solid;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
	width: 30px;
	height: 2px;
    margin-bottom: 6px;
    border-radius: 2px;
}

.navbar-default .navbar-toggle {
	margin-top: 25px;
    margin-right: 25px;
	border-color: transparent; 
}

.navbar-default .navbar-toggle:hover {
	background-color: transparent;
	cursor: pointer;
}

.navbar-default {
	position: relative;
	top: 0;
	z-index: 100;
}


/*					Sections					   */
/*=================================================*/
section {
	width: 100%;
	text-align: left;
}

section.white {
	background-color: white;
}

section.gray {
	background-color: #E4E4E4; /*#f4f4f4;*/
}

section.dark-blue {
	background-color: #020323;
}

section.dark-gray {
	color: #FFFFFF;
	background-color: #222831;
}


footer {
	padding: 0;
	margin: 0;
	width: 100%;
}

footer > div {	
	border-bottom: solid #DDDDDD 1px;
}

footer > p {
	text-align: center;
	padding: 25px 0;
}

footer > p strong:hover {
	cursor: pointer;
	color: #555555;
}
/*					MAIN APP					   */
/*=================================================*/
#main-app {
	min-height: 50px;
	text-align: center;
}

#main-app-container {
	position: relative;	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: calc(100vh - 95px);
	/*border: 1px red solid;*/
}

.clear {
	clear: both;
}

#map, #data {
	float:left;
	height: 100%;
}

#map {
	width: 65%;
}

#data {
	width: 35%;
}

.user-list, .details {
	width: 100%;
	border: yellow 1px solid;
}

.user-list {
	height: 60%;
}

.details {
	height: 40%;
}


/*					media						   */
/*=================================================*/
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {

}